PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/lms_db
JWT_SECRET=51a2d97b02ba619ec77adcf688c81c8a2be0d8b20ebf186ee91aca4ef885beed096555b10fad8d6dbbf84990466cfba8ee865f94557b06351948290d89675e29
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# Email / SMTP
EMAIL_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=rahmannoon12@gmail.com
SMTP_PASS=rnvyrzrkjuadlxyp
EMAIL_FROM=rahmannoon12@gmail.com
EMAIL_FROM_NAME=Abdur LMS

# SMSLenz (keep provider-specific values in env)
SMS_ENABLED=true
SMS_PROVIDER_URL=https://smslenz.lk/api/send-sms
SMS_API_KEY=1ded4a67-4192-475b-9caf-f17905155d2c
SMS_USER_ID=2600
SMS_SENDER_ID=SMSlenzDEMO
SMS_DEFAULT_COUNTRY_CODE=94

# Uploads / invoice
MAX_FILE_SIZE_MB=10
INVOICE_DIR=./invoices
UPLOAD_DIR=./uploads


# Zoom Server-to-Server OAuth (optional but required for automatic Zoom meeting creation)
ZOOM_ACCOUNT_ID=Ie-XC2vqSH6fa7HWwSQnow
ZOOM_CLIENT_ID=fqfpzzruQH6e3Ov6Z0fW6Q
ZOOM_CLIENT_SECRET=35JJIfFRRykJLWtVViBlqJZYPjhsHg2C
ZOOM_DEFAULT_DURATION_MINUTES=60
ZOOM_LEAD_MINUTES=15

# Telegram class-link scheduler
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=8903808937:AAEsNpNWdihPSzM5Wo3jkDcLyLZyEmemQDY
TELEGRAM_BOT_USERNAME=AbuDeveloperPassio_bot
TELEGRAM_CHAT_ID=8650236485
TELEGRAM_API_ID=28776515
TELEGRAM_API_HASH=59521cc185d9addde8b9f0c458e47adb
TELEGRAM_SESSION=1BQANOTEuMTA4LjU2LjEwMQG7J15i/wnOHhwnDgxZ/UWedwLs7rJvCJDca05JGRbr5BmLpiD85j6rlb6lBg6ZLLd/mZoXAgQ8tsbIQ8S2EpQRaQKA5Luf5JUdOYsQ7QuoRTbpUpO1MBUXXjpiMzQv+fQ5GO8sVvlTwTerZC+N8iWT/ATVgzKsOBuYCpcBLXoBI6ZIbmLehlksOwW2iAfIdghYr5TQ4Qijgh7VMjISUMOhbVPJ0ApzXHoVU3k+BXi2k2SV24sU3NtCRqnYL/I4XgpAPDOIzlmGxftHyh2ccPwbkDFlyj1WFo3Cltz3jkBW1liRrdnXrnG3IM7kr+4K9CzbioqhgxbcUQQcSZ1Frp+Eug==

